# ignore ros2 workspace in ros2_offboard_ws
ros2_offboard_ws/build
ros2_offboard_ws/install
ros2_offboard_ws/log

bridge_ws/build
bridge_ws/install
bridge_ws/log
bridge_ws/src/gz_bridge_utilities/test
bridge_ws/src/gz_bridge_utilities/resource
